<footer id="footer" class="footer text-light  p-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; InsertCoin</p>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-2"><i class="fa-solid fa-user-ninja"></i> <br>Fede Masnu</div>
            <div class="col-3"><i class="fa-solid fa-user-nurse"></i><br>Mayra Magiarate</div>
            <div class="col-3"><i class="fa-solid fa-user-ninja"></i><br>Gonzalo Pouget</div>
            <div class="col-2"><i class="fa-solid fa-user-ninja"></i><br>Lucas Palana</div>
            <div class="col-2"><i class="fa-solid fa-user-ninja"></i><br>Ricardo Arias</div>
        </div>
    </div>
</footer>