.container-fluid{
    background-image: linear-gradient(45deg,#ef3620,white,#ef3620);
   
}
.main-header{
    background-color:#ef3620;
    color:whitesmoke;
    margin: 0;
    padding:0;  
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-google{
    background-color:#f7a40e ;
    color:rgb(16, 16, 16);
 
}
.label{
    border: none;
    background-color:#ef3620 ;
    color:whitesmoke;
}
.card-body{
    border-radius: 15px;
    background-color:#ef3620 ;
    color:whitesmoke;


}