<header class="main-header mt-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center text-light m-1 p-1">
          <h1> <i class="fa-solid fa-user-plus"></i> Registro</h1>
        </div>
      </div>
    </div>
  </header>
  <flash-messages class="text-center"></flash-messages>
  <section id="registro">
    <div class="container-fluid">
      <div class="col-md-6 mx-auto">
        <div class="row">
          
          <div class="card-body m-1 p-2">
              <form (submit)="registrar()">
                  <div class="form-group p-1">
                     <label for="email" class="form-control label">Email</label>
                     <input type="email"
                      class="form-control"
                       name="email"
                       id="email"
                        [(ngModel)]="email"
                        #emailR="ngModel"
                        required
                         >
                        
                  </div>
                  <div class="form-group p-1">
                      <label for="password" class="form-control label">Password</label>
                      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password"
                      
                      #passwordR="ngModel"
                      minlength="6"
                      required>
                      
                   </div>
                   <div class="row text-center my-2">
                       <div class="col-3"></div>
                   <div class="col-6"><input type="submit" value="Registrar" class="btn btn-primary btn-block text-center text-light"></div>
                   <div class="col-3"></div>
                   <div class="form-group">
                    <div class="row text-center my-2">
                      <div class="col-2"></div>
                      <div class="col-8"> 
                       <button type="submit"  class="btn btn-google btn-block" (click)="registrarConGoogle()"><img src="assets/img/google.png" class="img-fluid" alt="">  Registrarme con Google</button>
                      </div>
                      <div class="col-2"></div>
                    </div>
                   
                   </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>
